[2016-06-01 09:59] adriaanzon opened #1 "Do you really need <C-l> and <C-h>?"
Nice plugin, I was looking for this.

One small question: do you really need to map `<C-l>` and `<C-h>` to indent? Vim can already do this out of the box with `<C-d>` and `<C-t>`. Or is there any difference?

[2016-06-01 17:27] #1 closed

[2016-06-01 17:30] dkarter commented on #1
Thanks @adriaanzon ! Glad you like the plugin!

I actually found out about the built in mappings around the beginning of May and made a mental note to update this plugin but never got around to it.

I wrote about it here:
https://til.hashrocket.com/posts/8de0fb5d93-indent-and-deindent-line-in-insert-mode

This was a good reminder!

[2017-02-17 09:17] securitygeneration opened #2 "E706: Variable type mismatch for: l:bullet"
Installed the latest version of bullets.vim using Plug in Vim 7.4 on both Linux and macOS. Trying to create any kind of bullet list in a text or markdown file yields the following error:

[code]

![error](https://cloud.githubusercontent.com/assets/1046239/23059502/9ab14e96-f4f1-11e6-967e-ce8435adf567.png)

I also tried using a minimal vimrc to rule out any issues there, but the result is the same.

[2017-02-17 20:03] dkarter commented on #2
Thanks for the bug report. I was able to reproduce on a fresh copy of Kali Linux with Vim 7.4 and Plug. Working on fix and will update you when I have one.

[2017-02-17 21:37] #2 closed

[2017-02-18 00:13] dkarter opened #3 "Add configuration option to prevent deletion of last bullet"
see https://twitter.com/securitygen/status/832725395078123520

[2017-02-18 15:32] viniciusarcanjo commented on #3
@dkarter thank you for this awesome plugin! much appreciated.

[2017-02-18 21:48] securitygeneration commented on #3
Thank you indeed!

[2017-02-20 22:00] dkarter opened #4 "Add option for enabling bullets.vim on empty buffers"

[2017-02-20 22:11] #3 closed

[2017-02-20 22:12] dkarter commented on #3
Fixed in 1.0.5.

Glad you find it useful and thank you for the improvement requests!

[2017-02-21 05:26] dkarter commented on #4
Implemented in 1.0.6

[2017-02-21 05:26] #4 closed

[2017-02-21 09:37] kiryph opened #5 "Add support for latex enumerate/itemize environemnts"
Would you consider extending your plugin to support latex?

There would be following use case for latex documents:

[code]

[2017-02-22 00:37] #5 closed

[2017-02-22 00:38] dkarter commented on #5
Implemented in 1.0.7

[2017-02-22 09:28] kiryph commented on #5
Thanks for the quick addition.

I would have two further wishes:

1. Would it be possible to add the (optional) behaviour when pressing `<CR>` two times the auto inserted item is removed but no additional line is inserted yet. So the second `<CR>` would just mean delete list specifier but no new line. Only when I press `<CR>` the third time another new line would be inserted.
2. This would be more

[2017-02-22 17:14] kiryph commented on #5
I think I will use for latex the mappings
[code]
which I have put into `~/.vim/after/ftplugin/tex.vim`.

[2017-04-12 21:38] eater opened #7 "Plugin makes iabbreviations stop working"
When I have bullets.vim loaded, the iabbreviations I have defined don't execute on `<CR>`, because it's imapped.

[2017-04-13 00:18] eater commented on #7
A fix for this would be to add a `<C-]>` trigger on line 379:

[code]

[2017-04-13 00:23] eater opened #8 "Lines starting with decimal numbers are considered bulleted"
For instance, hit Enter after writing

and the plugin outputs

Perhaps make the regex require at least one whitespace after the bullet, to avoid that?

[2017-04-13 03:04] dkarter commented on #8
Good catch. I'll work on it

[2017-04-13 03:12] dkarter commented on #7
Thanks for bringing this to my attention. I usually expand iabbrevs with space so was not aware this breaks abbreviations, but it should be fixed. Im not sure I understand what '<C-]><C-R>=' does. But I'll test if it works and lookup the documentation. Also PRs are welcome :)

[2017-04-18 15:09] dkarter commented on #7
Fixed with #9

[2017-04-18 15:09] #7 closed

[2017-04-18 15:20] #8 closed

[2017-05-26 18:13] bonds opened #11 "feature suggestion: indent after wrap, continue bullets"
I ran across the plugin while looking for a solution for this use case: start a list with a asterisk, continue to type even after wrapping. What happens is the text after wrapping starts at column 1, and new lines are not bulletted anymore:

[code]

What I wish would happen is that it would treat the wrapped line as part of the first bullet, indenting it to indicate that, and continue to bullet ne

[2017-05-26 20:19] dkarter commented on #11
Thank you for submitting this feature suggestion! It is definitely one of the goals of Bullets.vim to support wrapped text in lists, I just have not gotten around to it.

If you want to have a go at it feel free to submit a PR, otherwise I will try to work on it when I have some free time. Having feature requests for things I want too is definitely motivating. ☺️

[2017-05-26 23:51] bonds commented on #11
Cool, thanks for listening. If I take a stab at if before you do, I'll let you know!

[2017-10-15 12:57] bluTaz opened #12 "[enhancement] Add support for pandoc fancy_lists"
I just came across this plugin today and it's awesome.  When using pandoc, I often use fancy_lists, resulting in the repetitive typing of `#.<space>`. Would you consider adding support for this?

[code]
[Pandoc Markdown #fancy_lists](http://rmarkdown.rstudio.com/authoring_pandoc_markdown.html#extension-fancy_lists)

[2017-10-15 16:36] #12 closed

[2017-10-15 16:40] dkarter commented on #12
Support added in v1.0.10. Please update and let me know if everything is working for you.

[2017-10-15 18:47] bluTaz commented on #12
Awesome; worked wonderfully.

[2017-11-05 16:56] hgvhgv opened #15 "feature suggestion: keep indent from first list item"
Thanks for this great plugin!

Like some others here, I also use pandoc. I've started using it via `equalprg` provided by the vim-pandoc plugin to format my own markdown as I write (see <https://github.com/vim-pandoc/vim-pandoc/blob/e9a24376c17817632951088838a3c3bdc1c5da30/doc/pandoc.txt#L177>).

Pandoc lines up its markdown lists with four spaces after the list marker (see <https://github.com/vim

[2018-01-26 14:45] bhrutledge opened #17 "feature suggestion: add/remove a checkbox to a line"
For example, a normal-mode mapping to toggle between `- List item` and `- [ ] List item`.

Or, more broadly, a way to select or cycle through bullet types on a line.

[2018-02-27 15:20] dkarter commented on #17
That's a neat suggestion, and doesn't sound too hard to do - would you like to give it a shot with a PR?

[2018-02-27 22:07] bhrutledge commented on #17
I'm going to pass; I'm currently experimenting with other editors. Might come back to Vim, but either way, not in a place to do plugin development. :)

[2018-04-10 00:44] hrai opened #19 "Feature suggestion: Custom bullets"
I use vim extensively to create JIRA description documents. While doing so, I often have to have custom indents like (**, *** etc.)

It would be great if we could add this as a configurable feature.

[2018-04-10 05:00] dkarter commented on #19
Hi @hrai, I just merged the PR from @hut #18 . It's not the solution you are suggesting, but should hopefully fulfill what you are trying to do. Let me know if not and I can re-open the issue.

I am totally open to the idea of custom simple bullets or even allowing callbacks that accept the previous bullet and return what the next one should be for more complex bullet types. If you feel comfortabl

[2018-04-10 05:00] #19 closed

[2018-04-17 11:13] hrai opened #20 "Support for Jira style numbered indentation"
Numbered indentation in jira take the form of hashes as below:

[code]
and so on.

It would be good if this was supported by bullets.vim

[2018-05-04 05:19] pitkling commented on #15
I second this request, would be really a welcome feature :).

[2018-05-04 12:48] dkarter commented on #20
With no separating characters between the pound and bullet text I’m concerned this will interfere with markdown headers. Sorry but no planned support for this bullet type at this point.

[2018-05-04 12:48] #20 closed

[2018-06-18 04:47] Kevin-Mok opened #21 "[Request] Have "^" move to the start of the first word"
Instead of moving to the bullet point. I think it'd just be a convenient feature to have.

[2018-10-26 18:39] #15 closed

[2018-10-27 03:43] #11 closed

[2018-10-27 03:53] dkarter commented on #11
Hi everyone, I'm excited to report that this feature is now implemented in v1.3.0!

[2018-11-23 10:24] char101 opened #25 "Please disable <CR> mapping when completion menu is visible (pumvisible)"
Otherwise when I select an entry in the completion menu it will results in a newline.

Thanks.

[2018-11-30 21:50] dkarter commented on #25
Hi @char101,

Thanks for reaching out.

Can you please provide a minimal vimrc for reproducing the problem you are experiencing?

Are you using some plugin or special mappings for navigating and selecting a completion result?

I just tested what happens when a completion menu comes up at the end of the line and seems like `<CR>` should work just fine. (I am using deoplete). See GIF below:

![scree

[2018-11-30 21:52] dkarter commented on #21
Hi @Kevin-Mok,

Thanks for reaching out!

If you are interested in seeing this specific feature please submit a PR. I'll be happy to consider it. :)

[2018-11-30 21:52] #21 closed

[2018-11-30 21:52] #17 closed

[2018-12-01 04:46] char101 commented on #25
Hi,

From the GIF, when selecting `hello_ary` and pressing `<CR>`, it should only insert the completion without adding a newline, otherwise if I am selecting a completion mid sentence, I will have to press backspace to go back to the previous line.

[2018-12-01 04:55] char101 commented on #25
Ok, actually after trying it with `gvim -u NONE -U NONE`, it seems that pressing `<CR>` in completion menu does insert a newline.

I'm using the mappings from http://vim.wikia.com/wiki/Improve_completion_popup_menu , esp. `inoremap <expr> <CR>       pumvisible() ? "\<C-y>" : "\<CR>"`

I'm using Windows btw so pressing `Enter` to choose a completion item is the standard shortcut. But it is a bit ha

[2019-01-24 03:40] #25 closed

[2019-01-24 03:43] dkarter commented on #25
Seems like this is a setup specific to your .vimrc so I'm closing this issue.

If you want to open a PR that will set the mapping in any other way that is more easily override-able I'll be open to that.

[2019-02-21 16:38] daniel-vera-g opened #29 "Not working in insert mode"
I've your plugin installed, but it only works in normal mode after hitting `o`
I hope you can give me some hint about what's wrong with my setup.

[2019-02-21 16:40] dkarter commented on #29
Can you please share a minimal .vimrc to reproduce the issue? Could be that you have a mapping that's clashing with this plugin or something in your .vimrc

[2019-02-21 16:43] daniel-vera-g commented on #29
Sure:
https://github.com/daniel-vera-g/dotfiles/blob/new-aliases/linux/shell/vim/.vimrc

[2019-02-21 17:30] dkarter commented on #29
That's not really what I meant by minimal .vimrc to reproduce the issue. Here's an example for what I meant. I used that to debug an issue with `vim-styled-components` awhile back:

---

## Example minimal vimrc for another plugin

[code]

Save it to a file and then `nvim -u .debug-vimrc test.js`

---

I haven't tested this yet since I'm at work, but just from a quick glance at your full vimrc I'm

[2019-02-21 18:32] daniel-vera-g commented on #29
I've replaced `1` for `0` but nothing happened.

I created a minimal vim config:
[code]

Tried(Using https://vimways.org/2018/debugging-your-vim-config/ as reference):
`vim -u min-vimrc test.md`

Against a test file.The plugin did not work.
I am using `VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Nov 24 2016 16:44:48)` and Plug as plugin manager.

I did the same and generated some logs:
Hope it he

[2019-02-22 17:15] daniel-vera-g opened #30 "Does not work in insert mode with paste enabled"
This issue follows to the more general #29 where I could not use this plugin in insert mode.

The reason for this is that the setting `set paste` in my `.vimrc` prevented it. After removing `set paste` from it, it works.

Also when activating `set paste` to paste something, the plugin does not work.

I am not so fluent in ruby and vimscript, to propose a fix. But maybe a workaround to use `paste`

[2019-02-22 17:16] daniel-vera-g commented on #29
The issue was the `set paste` setting in my `.vimrc`. By removing it, it works.
You can close this issue, since it's solved in general. Nevertheless, I opened #30 as specific issue. Maybe this can be solved.

[2019-02-22 20:09] dkarter commented on #29
That makes sense. `set paste` was not intended to be used in this way, you are supposed to use it right before pasting something into a terminal instance of Vim, and then turn it off when you are done pasting. `set paste` temporarily suspends insert mode mappings so as to avoid pasted data from getting messed up unintentionally. Vim in the terminal treats typing and pasting as one and the same so

[2019-02-22 20:09] #29 closed

[2019-02-22 20:10] dkarter commented on #30
This is intentional and is a feature of Vim to eliminate errors in pasting. See my comment on #29.

[2019-02-22 20:10] #30 closed

[2019-02-22 20:26] daniel-vera-g commented on #29
@dkarter Thanks for the detailed response! Did not know this about paste. Will take a look over your recommendations and check out neovim.

[2019-03-19 12:01] dareenzo opened #31 "Pressing o on non-list items moves the last character of the current line into the next"
Pressing o on non-list items moves the last character of the current line into the next

![file](https://user-images.githubusercontent.com/6130991/54604406-53c80500-4a4f-11e9-8ea2-351088829ee6.gif)

[2019-03-21 14:08] dkarter commented on #31
Hi @dareenzo,

Thanks for the bug report. I tried replicating it and was unable to.

![demo](https://i.imgur.com/ACWpsvn.gif)

I suspect this is caused by another plugin (perhaps you have a pandoc plugin?)

Can you please provide a minimal vimrc to help reproduce the issue?

---

## Example minimal vimrc

[code]

Save it to a file and then `nvim -u .debug-vimrc test.md`

[2019-03-21 19:02] dareenzo commented on #31
Stripping down the configuration to its minimum, as suggested above, shows the error is not with the plugin.

I don't know yet what is happening since there's only one `o` mapping, that is related to the plugin, but I probably should look elsewhere

Thanks

[2019-03-21 19:02] #31 closed

[2019-04-22 00:54] Eetion commented on #11
Thank you!  Does anything special have to be done to activate this feature?  I just tried updating to the most recent version of bullets.vim, but the wrapping looks the same as before.

[2019-07-22 20:59] FocusedWolf commented on #25
I just noticed this issue myself, also on Windows if that matters.

I have
`
    let g:bullets_enabled_file_types = [
        \ 'markdown',
        \ 'text',
        \ 'gitcommit',
        \ 'scratch'
        \]
`

and when I type some stuff in a text file to trigger the omnicompletion popup, hitting enter fails to insert the selected item from the popup. When i removed the plugin the problem went

[2019-07-23 04:03] dkarter commented on #25
I don't think this will work in the first scenario in my gif above. Can you produce a minimal .vimrc that I can use to reproduce the issue and come up with a better solution?

---

## Example minimal vimrc

[code]

Save it to a file and then `nvim -u .debug-vimrc test.md`

[2019-08-07 19:22] alichtman opened #33 "[Feature Request] Auto-Nested Bullets"
This is an awesome plugin! I use it all the time for note-taking.

One style of note taking that I use a lot is:

[code]

It'd be great if, after starting a new bullet line, I could hit `TAB` to automatically indent the bullet point and change it to the next "sub-level type" of bullet. Additionally, I'd like to be able to `Shift + TAB` back to the original level of indentation and correct "bullet

[2019-08-07 22:01] alichtman opened #34 "[bug] Inserting a new line above a bullet doesn't insert a bullet"
Pressing `o` on a bullet line creates a new bullet on the new line.

<img width="156" alt="image" src="https://user-images.githubusercontent.com/20600565/62660824-d4bb6680-b934-11e9-80d0-e9e098d0248f.png">

Pressing `O` on a bullet line creates an indented line on the line above without adding a bullet at the beginning.

<img width="166" alt="image" src="https://user-images.githubusercontent.com/2

[2019-08-10 04:22] dkarter commented on #34
Hi @alichtman!

This is not a bug. Think of this more as feature parity with normal word processors. It doesn't seem like a natural way for me to create bullets by going up.

If a bullet was created with `O` and was unwanted, the user would have to hit backspace twice. This is not convenient workflow in my eyes. When a bullet is created with `o` and is unwanted pressing `<CR>` again without typing

[2019-08-10 04:55] dkarter commented on #33
Hi again @alichtman this is a great suggestion!

I currently use `C-d` and `C-t` in INSERT mode to indent / de-indent a bullet.

To avoid conflicts with auto-completion plugins and snippet expanders who are already competing for the highly coveted `TAB` key it would be best if we instead utilize `C-d` and `C-t` and as in the case of the `<CR>` mapping we already use here for adding a bullet send t

[2019-08-10 04:58] alichtman commented on #34
Yep, I see where you’re coming from now. Not sure that this is actually a feature I’d want, now that I think about it...

[2019-08-10 07:31] #34 closed

[2019-08-10 19:53] alichtman commented on #33
From a quick glance at the source code, my general plan to implement this would be something along the lines of:

[code]

and in each of those two functions, I'd figure out where in the `[ +, *, - ]` sequence the line is, and indent / deindent, and then replace the bullet character with the next / previous one.

[2019-08-10 19:54] alichtman commented on #33
Also, can you assign this issue to me?

[2019-09-14 23:36] mykoza opened #35 "Add support for AsciiDoc(tor) lists"
Hi,
First, I have to say that this is very nice plugin. I have been using it for note-taking in Markdown, but recently decided to switch to AsciiDoc.

Would it be possible to add support for AsciiDoc lists to this plugin?

If you are not familiar with them, they are similar to OrgMode headings, in that item nesting is done by adding more "bullets". Unordered lists use `*` and ordered lists use `.`

[2019-09-16 02:20] dkarter commented on #35
Hi @mykoza thank you for reaching out!
[I have opened a PR to add support for AsciiDoc](https://github.com/dkarter/bullets.vim/pull/36). All the tests pass locally, but one of them fails in CI, not sure why yet, as I haven't had a lot of time to put into this.

As far as indentation go, I currently don't have any mappings for bullet indentation, and in the plugin's documentation I recommended peop

[2019-09-16 09:13] mykoza commented on #35
Thanks for the reply.

Before I opened the issue, I tried to do almost exactly what you suggested, on my own, but as I am pretty much a beginner (especially in vim script) I only managed to get it working on one line in normal mode using `execute 'normal!...'`. I had some problems with insert mode and I have no idea how to make it working with number of lines at the same time.

[2019-09-22 13:21] mykoza commented on #35
Hi again,

I opened pull request #37. I tried to write it the best I could, but I'm sure it can be done better.

After setting variable in .vimrc it maps to `<C-t>, <C-d>, >>, <<`. Works only inside AsciiDoc lists, when `FileType` is set to `asciidoc*`. Outside it retains default Vim behaviour.

User can define their own mappings, or enable it only in insert mode.

[2019-10-03 18:11] adi-txt commented on #11
Running into the same problem @Eetion faced -- I just installed bullets.vim, the new list item feature works, but my text wrapping is the same as before.

Does having `set wrap linebreak nolist` in my `.vimrc` lead to any issues with this?

[2019-10-07 14:46] adidottxt opened #38 "indent after wrap with bullets"
Referencing this [issue](https://github.com/dkarter/bullets.vim/issues/11) and this [comment](https://github.com/dkarter/bullets.vim/issues/11#issuecomment-485295460) -- does anything need to be done to activate this feature? I installed bullets.vim but the wrapping does not seem to work as described.

I also have `set wrap linebreak nolist` in my `.vimrc`, which I'd imagine could be the only othe

[2019-10-07 15:14] dkarter commented on #38
Hi @adi-txt I created a minimal vimrc to test this. The only thing that needs to be set is `textwidth` for this to work as described:

[code]

Save this into a file (e.g. debug.vim) and load it using `vim -Nu debug.vim`

This is what it looks like (sorry for the gibberish but it makes it faster to test):

![demo](https://i.imgur.com/nM3Bh6b.gif)

[2019-10-07 15:16] dkarter commented on #11
@Eetion please see my response in #38 and feel free to chime in there

[2019-10-07 18:11] Eetion commented on #38
This is probably beyond my (shallow) depth.  Tried creating the `debug.vim` file as directed, but  opening via `vim -Nu debug.vim` just produced

<img width="537" alt="Screen Shot 2019-10-07 at 14 06 17" src="https://user-images.githubusercontent.com/14087518/66336749-b14c7200-e90b-11e9-876b-b89934a48b60.png">

Tried creating lists with * and - within the opened file, but for whatever reason hitti

[2019-10-07 19:15] dkarter commented on #38
@Eetion my minimal vimrc is assuming you use [vim-plug](https://github.com/junegunn/vim-plug), and NeoVim. I'm no longer using Vim so I'm not sure that specific `debug.vim` file will work for your setup. However you can just try setting the `textwidth` value like so: `set textwidth=80` and see if it works in a markdown file.

[2019-10-07 19:21] Eetion commented on #38
Thanks!  Just tried.  The result is fairly similar to before: indentation works correctly for the first line after the bullet, but left-justifies on the third line:
[code]

[2019-10-07 19:23] dkarter commented on #38
At the very least, regardless of `bullets.vim` you should be able to get automatic line breaks in an empty buffer like so:

![demo](https://i.imgur.com/EXiNFR1.gif)

Notice I did not enter any bullet for that, just typed text in an empty buffer past the `textwidth` setting I have of 80 characters. (which is not a default setting if you run `vim -u NONE`.

Also, I have wrapping turned off (`set now

[2019-10-07 20:08] Eetion commented on #38
Thanks!  At present I have `:set nowrap` and `set: textwidth=80`.  Lines do wrap at 80 characters in an empty buffer, and do wrap in a list (it's just that in the list they don't indent starting at the 3rd line, as in the example above).  Guessing I've caused this problem by doing something that an established Vim user would know not to do, so may not be worth spending more time on it.  Just in ca

[2019-10-10 03:36] adi-txt commented on #38
Hi @dkarter –– sorry for the delay with this, and I appreciate your super quick turnaround with this.

I played around with my `.vimrc` and the minimal `debug.vim` version you had here and it works as you've shown. However I think I'd assumed that the indent after wrap with bullets occurred on the same "line" within Vim, as opposed to essentially splitting a longer line into two or more.

I was ho

[2019-10-12 21:10] dkarter commented on #38
@adi-txt I’m not sure I understand the issue, but what’s happening in the gif you posted looks like normal behavior to me. To be clear, all wrapping logic is done by Vim, and I am not sure how to configure it to break the line if you start typing in a middle of an existing line that is already at the `textwidth` limit.

Bullets.vim doesn’t change anything about the native Vim wrapping behavior. In

[2019-10-12 21:26] dkarter commented on #38
@Eetion

I don’t think those other plugins (e.g. Julia, or vim-easy escape) are relevant to the issue, are they? Nor are the other settings? And I don’t see `textwidth` in your config.

The idea of the minimal vimrc is to narrow down the potential reasons of what might be causing the issue. If you remove the extraneous plugins and settings, and add the suggested ones, does the issue still happen?

[2019-10-14 14:33] adi-txt commented on #38
Interesting. I think what I'd expected is that `bullets.vim` would wrap text _but_ keep it within the same "line" (as defined by the line number), but it seems like this might not be possible with Vim's wrapping behavior.

Also FWIW all of this was just a point of clarification -- my initial issue with wrapping was solved by using your `debug.vim` file and building the rest of my `.vimrc` file on

[2019-10-29 23:18] alichtman commented on #33
Well, I went from knowing nothing about vimL to knowing something about it, but I don't have the time / vimL skills currently to write this feature. I've got a very broken branch that I'll save to continue working on when I do...

[2019-10-30 19:41] mykoza commented on #35
Hey @dkarter, any feedback on that PR? Is it any good?

[2019-11-28 17:55] rpietro opened #39 "setting syntax for R markdown files"
Hi, bullets.vim is awesome for markdown and vimwiki files, but I can't get it to work with R markdown files https://rmarkdown.rstudio.com/. Here is what I currently have on my init.vim file:

`let g:bullets_enabled_file_types = [ 'markdown', 'text', 'gitcommit', 'rmarkdown', 'vimwiki', 'Rmd']
`
Any thoughts on how to get it to work? thanks

[2019-12-01 04:20] rpietro commented on #39
I just found the answer at [this page](https://github.com/dkarter/bullets.vim/blob/master/doc/bullets.txt):

The type is rmd, which led to:

`let g:bullets_enabled_file_types = ['markdown', 'text', 'rmd']
`

[2019-12-01 04:20] #39 closed

[2019-12-01 04:27] #38 closed

[2019-12-17 19:11] Delayless opened #40 "Some suggest about Renumbering lines"
When I use `:Renumbering` to number these lines, give the result as follows.
[code]
Actually，I want to the next result.
[code]
That is all. Thank you for your work.

[2020-01-07 17:21] AdamWysokinski opened #41 "<CR> and TAB are inserted after deleting an empty bullet"
Vim 8.2.50,  latest version of bullets installed.
When I close the bullet list with Enter, Vim deletes the empty bullet point (as expected) and then inserts <CR> and TAB (as not expected), like this:
[code]
This happens when plasticboy/vim-markdown is enabled and only for * bullets.
Any ideas how to modify this behavior?

[2020-01-21 07:36] samarulmeu opened #42 "Bullets is messing with the abbreviations"
I have some abbreviations defined with new lines inside them and they work as expected when _bullets_ is disabled, but totally different with the plugin.

Something like this:

[code]

Normal output should be:

[code]

But *bullets* transforms it into:

[code]

(notice the inserted lines at the end).

Bullets is an amazing plugin for markdown and I would like to use it further, if this could be re

[2020-02-01 17:23] nkakouros opened #43 "Bullets.vim breaks <CR> mappings from other plugins"
I have the following plugins enabled:

[code]

When a fenced code block editing a markdown file, eg python, ncm2 provides completions some of which are snippets. When I select a snippet in the popup menu and hit Enter, I normally expect the snippet to expand. However, with `bullets.vim` enabled, the expansion does not happen.

[2020-02-03 03:10] linjiX opened #44 "Bullets does not work for empty filetype"
For some no extension text file. Vim will treat its filetype as 'empty'.
[code]
I tried to add `''` into `let g:bullets_enabled_file_types`
[code]
But it doesn't work,
Can bullets be enabled for these empty filetype files?

[2020-02-06 07:51] linjiX opened #45 "[Feature Request] Add a flag to disable text object mappings"
The default bullet text object mapping `ab` `ib` is conflict with vim default text object for parenthesis.
We only have a flag to disable all mappings `g:bullets_set_mappings`
Could you provide an extra flag to just disable text object mappings.

[2020-02-17 14:09] bockel opened #46 "Support CommonMark nested lists"
The current indent/dedent scheme in bullets.vim does not support the CommonMark spec for nested ordered lists.

The new [CommonMark](https://spec.commonmark.org/0.29/) spec changes the way nested lists are handled beneath an ordered list. Originally, a nested list could just be indented by 2 spaces, but the updates require that there is one space in addition to the list marker: https://spec.common

[2020-02-23 06:52] dkarter commented on #46
Indentation is not actually done by this plugin. `<C-d>` and `<C-t>` are built into Vim.

I'm hesitant to add functionality to this plugin that would be very specific to markdown because that could affect other cases where bullets is used outside of markdown.

Perhaps you can add something to your vimrc to take care of that? e.g. autocmd for markdown filetypes that would change the behavior of `<C

[2020-02-23 21:09] dkarter commented on #45
I'm going to remove those altogether in an upcoming update. I don't find them all that useful anyway and have not kept them up to date with all the updates that have been going on over the years to support multiple bullet types.

[2020-02-23 21:12] dkarter commented on #35
Basic support for AsciiDoc has been merged. Let's move additional discussion over to the PR you have open.

[2020-02-23 21:12] #35 closed

[2020-02-24 05:42] #45 closed

[2020-03-04 18:11] kaymmm commented on #42
I can't reproduce this. A quick rspec test that I wrote to test this case also passes without issue. Have you tried disabling all of your other plugins and using an empty .vimrc to determine if perhaps this plugin is conflicting with something else in your configuration? It may be the case that the way that this plugin currently configures its mappings is interfering with something on your end.

[2020-03-05 09:34] samarulmeu commented on #42
Thank you for your answer. When I first stumble upon this, after disabling _bullets_ plugin, abbreviation started working again, so I did not investigate further. In the mean time, I solve it with a workaround using snippets which are more versatile than abbreviations.

[2020-03-10 00:33] dkarter commented on #33
Implemented in #54, thanks to @kaymmm !

[2020-03-10 00:33] #33 closed

[2020-03-10 00:51] dkarter commented on #41
Looks like vim-markdown has it's own support for bullet lists so if you want to use it with bullets.vim you may want to disable it's bullet feature: https://github.com/plasticboy/vim-markdown/blob/da5a7ac96f517e0fd6f886bc3fbe27156ca1f946/doc/vim-markdown.txt#L469

[2020-03-10 00:51] #41 closed

[2020-03-10 00:59] dkarter commented on #44
There is a flag for that:

[code]

Should be enabled by default! (you may need to remove the `g:enabled_file_types` - seems like you were trying to set it to an object which is incorrect - it needs to be an array of strings, like so:

[code]

But for now I recommend you remove it until you actually need to set it and check if bullets work for you in empty buffers as it does for me.

[2020-03-10 00:59] #44 closed

[2020-03-10 01:01] #42 closed

[2020-03-14 04:12] BSDxxxx opened #57 "How to disable a default mapping?"
Sorry, I'm new to vim, and there is no example in the help file.

How disable ```<space>x```?
and
How to map it to another key?

[2020-03-18 14:17] pappasam opened #58 "Automatic Alphanumeric List Insertion Implementation Messes Up Unordered Lists"
The new implementation of alphanumeric list insertion messes up indentation for regular, unordered lists. I want to keep using "-" or "*" for all indented levels in my markdown, but it's no obvious for users to configure this. See screenshot of the problem:

![vim-list-indented](https://user-images.githubusercontent.com/3723671/76969755-34cdae80-6901-11ea-8752-8586afa7b5ba.gif)

After reading the

[2020-03-19 19:29] ErickChacon opened #59 "Error message when trying to indent checkbox item"
Indentation works fine for most of the lists; however, it shows the following error messages when trying indentation (`ctrl-t`) on checkbox lists (`- [ ]`):

[code]
As you can see, the dictionary corresponding to `chk` does not have the key `bullet`:

https://github.com/dkarter/bullets.vim/blob/0976e8761f6dd1e2847714e61c3612ad2b666b7b/plugin/bullets.vim#L197-L203

The problem is actually here, aft

[2020-03-20 00:03] ErickChacon opened #61 "Feature request to toggle check box"
A more advanced toggle check would be useful for this plugin. I think the three scenarios below are essential. However, I will understand it goes beyond the scope of the plugin.

- First: Toggle all the children below the current checkbox. For example, if I mark checkbox `b`,
[code]
I expect that their children are also marked.
[code]
Similarly, in the case that I unmark a checkbox, I will expect

[2020-03-24 03:22] yaohunzhanyue commented on #61
Just to let you know, vimwiki could do this trick. It also supports making a checkbox for the record.
[code]

[2020-03-24 03:28] yaohunzhanyue opened #62 "Nested bullet outlines bug"
1. Can't auto change to up level type when unindent.
2. Can't be renumbered by RenumberSelection.

[2020-03-24 12:21] ErickChacon commented on #61
Hi @yaohunzhanyue, thanks for the suggestion. I am a `vimwiki` user and I know that you can do it with `vimwiki`. However, I want to stop using `vimwiki` given that it has many features that are not of my interest. That is the reason I now prefer to use `bullets.vim` inside markdown. I really like `bullets.vim` because you can use it in any filetype `rmd`, `pandoc`, etc. To use this feature with `

[2020-04-01 03:27] cormacrelf opened #63 "g:bullets_enable_in_empty_buffers keeps overwriting mappings after a filetype is set"
Bullets adds

    au Filetype markdown,text,gitcommit,etc nnoremap ... `

 autocommands for all its configured mappings. If `g:bullets_enable_in_empty_buffers` is set, then it also adds

    autocmd BufEnter * if bufname("") == "" | ' nnoremap ...

The desired effect is that `:enew` empty buffers will have bullets enabled even before you add a filetype. However, this affects the buffers some plugi

[2020-04-04 15:28] kaymmm commented on #62
I believe these issues are both addressed by #56. Waiting on merge by @dkarter.

[2020-04-04 19:03] dkarter commented on #62
@yaohunzhanyue I've merged #56, can you confirm this is now resolved?

[2020-04-05 03:00] BSDxxxx commented on #62
@dkarter Yes, this has been fixed, thanks.

[2020-04-05 03:03] yaohunzhanyue commented on #62
This has been fixed.
Thanks.

[2020-04-05 03:03] #62 closed

[2020-04-05 20:50] Melkster opened #64 "bullets.vim is enabled in quickfix window"
I'm trying to remap how `o` behaves in the quickfix window, aka when `filetype=qf` but I'm getting weird behaviour. When running `:nmap o` from the quickfix window I see that `o` is mapped to `*@:call <SNR>110_insert_new_bullet()<CR>`. I have not changed any default bullets.vim configuration.

Is this a bug? How do I disable bullets.vim in the quickfix window?

[2020-04-06 03:56] kaymmm commented on #61
I submitted a PR #65 that adds this feature. Feel free to take a look at the PR and test it out to see if it does what you expect it to do.

[2020-04-06 12:55] ErickChacon commented on #59
This was fixed by #56.

[2020-04-06 12:55] #59 closed

[2020-04-06 14:31] ErickChacon commented on #61
Wow! This is amazing @kaymmm. It works as expected, thank you.

[2020-04-08 21:59] Melkster commented on #57
Why did this issue get closed? I'm wondering the same thing. Is there a way to disable only `<leader>x` and keep all other default mappings?

[2020-04-09 03:21] BSDxxxx commented on #57
@Melkster Kind of solved this problem myself, I asked this question cause even I have remapped `<leader>x` like:
[code]
It didn't work before. But somehow It works for now, not sure why.

I do not see how to disable `<LEADER>x` in help file. One solution for that is using `myafter.vim`:
create a file `~/.vim/after/plugin/after.vim`, and insert:
[code]

[2020-04-09 09:23] Melkster commented on #57
@BSDxxxx What I'm looking to do is to remap the functionality of `<leader>x` to `<leader>X` because it conflicts with the [ConflictMotions](https://github.com/vim-scripts/ConflictMotions) plugin's mappings, which I would like to keep as they are. Your solution feels kind of messy and I think it would be nice if bullets.vim had something built in for purpose.

[2020-04-09 09:52] BSDxxxx commented on #57
@Melkster
I'll reopen this issue for you.
BTW, switch the position of bullets.vim and ComflictMotions in your vimrc may do the trick.

[2020-04-09 10:26] Melkster commented on #57
@BSDxxxx Thanks!

The problem is that ConflictMotions has only mappings with one more characters after `x`, like `<leader>x>` etc. so it's not a direct map conflict, but I'm annoyed by the delay after checking a box using `<leader>x` since Vim is waiting for more potential characters for ConflictMotions and that's why I want to remap bullets.vim's `:ToggleCheckbox` to `<leader>X`.

[2020-04-26 08:55] dkarter commented on #63
You make some really good points and thank you for bringing this to my attention. I definitely don’t want to break other plugins or inefficiently set the mappings. I’ll look into it and see what I can do.

[2020-04-26 08:56] dkarter commented on #64
Possibly related to #63. I’ll work on a fix, thanks for letting me know!

[2020-04-30 20:45] harshad1 opened #67 "number 'c' is followed by 'ci' and not 'd' when let g:bullets_renumber_on_change = 0"
I am using bullets in neovim. Installed with vim-plug. The only setting I have changed is `let g:bullets_renumber_on_change = 0`

If I have

[code]

I expect the next number to be 'd'. However I get 'ci' (and then 'cii', 'ciii', 'civ' etc etc).

This also happens when block selecting and indenting:

[code]
block selecting 2->6 and indenting gives me:

[code]

[2020-04-30 23:24] dkarter commented on #63
Actually, @cormacrelf since you have more opinions on the matter and ways to test it works correctly and solves your problem, would you be up to drafting a PR for this? :)

[2020-05-03 03:11] harshad1 opened #68 "Updating a list is quite slow (profile attached)"
I have found that updating a list (for example, by indenting a line in the middle) is quite slow.

To test this I did the following:
1. Created a file with 100 identical lines, numbered from 1 to 100 (attached number.txt)
2. Started profiler
3. Indented 10 lines (#40 -> #50) by 1 indent
4. Paused profiler

The renumbering appears to have taken 3.8 seconds on my relatively fast laptop (i7-8850h). S

[2020-05-04 16:37] dkarter commented on #67
@kaymmm could you please take a look at this? seems related to recent changes

[2020-05-05 16:10] dkarter commented on #68
Fixed in #69

[2020-05-05 16:10] #68 closed

[2020-05-05 16:34] dkarter commented on #61
@all-contributors please add @ErickChacon for ideas

[2020-05-05 16:34] #61 closed

[2020-05-05 16:49] dkarter commented on #46
@bockel Thanks to @kaymmm, in #54 Bullets.vim started handling indentation. The good news is that @kaymmm used Vim's built-in indentation settings so you should be able to easily change your settings like so:

[code]

You can even have that as an autocmd for Markdown files like so:

[code]

Here's a demo:
![2020-05-05 11 39 47](https://user-images.githubusercontent.com/551858/81092574-66590400-8ec

[2020-05-05 16:49] #46 closed

[2020-05-05 16:50] dkarter commented on #43
@nkakouros would you be interested in opening a PR to fix that?

[2020-05-05 17:02] dkarter commented on #57
@Melkster @BSDxxxx I agree that we should have more granularity in mapping configuration. I'll take a PR for that, otherwise it may be a little bit before I have time to do it myself.

[2020-05-09 05:32] hangjit-domain opened #73 "<cr> conflicts with coc"
I've been using this plugin for a long time. But I recently started using coc. The `<cr>` functionality of coc breaks if I allow bullets plugin as bullets maps the key.

Is it possible to enable this plugin while also not breaking coc?

[2020-05-09 05:33] #73 closed

[2020-05-09 05:33] hrai opened #74 "<cr> conflicts with coc"
I've been using this plugin for a long time. But I recently started using coc. The `<cr>` functionality of coc breaks if I allow bullets plugin as bullets maps the key.

Is it possible to enable this plugin while also not breaking coc?

[2020-05-09 21:33] dkarter commented on #74
Hey @hrai ! I am also using Coc and have been for a long time with no issues. What specifically breaks? Can you be more specific? maybe provide some examples / minimal vimrc to reproduce the issue?

[2020-05-10 00:20] hrai commented on #74
I have the setting to select the first item by default for coc.

Let's say I type `tart` and the selection list pops up as below. When I hit `<cr>`, I get a linebreak instead of the selected item.

### Autocomplete options list
![image](https://user-images.githubusercontent.com/4055444/81488051-4bf89f00-92a7-11ea-8e13-ef761e23bdc0.png)

### After hitting `<cr>`
![image](https://user-images.githubu

[2020-05-10 02:51] giceli opened #75 "delete_last_bullet suggestion"
what I want to enter at "this is a markdown test 2" is :

but the actually is :

so how can I change it.

[2020-05-10 23:24] dkarter commented on #75
This is supported by bullets.vim. You would need to have your terminal emulator send the correct escape code for `<C-CR>` (Ctrl + Enter). There is a short guide on that here: https://stackoverflow.com/a/42461580/77131

Here's an example of the use in iTerm on mac:

![2020-05-10 18 20 16](https://user-images.githubusercontent.com/551858/81513088-681e2f80-92eb-11ea-8180-063b185c6e18.gif)

[2020-05-10 23:24] #75 closed

[2020-05-10 23:37] dkarter commented on #74
I'm not sure how your configuration is different than mine. When I do it, I have to select the item I want for it to change the word (I do it using `<C-p>` and `<C-n>`).

When I press enter after selecting a completion, the word is already inserted into the buffer, so enter has nothing to do with the selection, it just inserts a new line as expected.

![2020-05-10 18 27 29](https://user-images.git

[2020-05-10 23:40] #74 closed

[2020-05-18 04:16] sayidly opened #77 "Conflict with Code Block <CR>"
I am using code block a lot when formatting the Markdown in Vim.

The code block rule is

[code]

The main idea is to inspect if you want to insert a block, then it will auto-insert the empty line for you to continue typing.

[code]

I think is bellow in bullets.vim conflict with the above.

[code]

Don't know how to solve the problem, anyone has ideas?

[2020-05-23 18:15] ErickChacon opened #78 "Indentation of a block of lines not allowed (E481: No range allowed)"
When trying to indent multiple lines, I get the following messages `E481: No range allowed`. This happens in any line of the file being edited, and not only on the bullet list.

[2020-05-28 17:55] Melkster opened #79 "Not an editor command: SelectBulletText"
When I try and run `:SelectBulletText` I get the error

[code]
It doesn't work for `:SelectBullet`, but everything else in the plugin seems to work.

This is what my minimal `.vimrc` looks like:
[code]

[2020-06-04 20:04] aodecipher opened #80 "bullets_outline_levels 'ABC' 'abc' malfunction starting at C"
It's using the default outline levels. Seems like C and D consistently loops back to A, if <C-T> the following item. Once it gets to E, it's normal again.
This problem persists, although in different ways, even if I change the outline-levels to a different order.
Update: 'abc' turns out to have the same issue. It's only when demoting, promoting works fine.

<img width="470" alt="Screen Shot 2020-0

[2020-06-08 22:03] aodecipher commented on #67
This seems to be reltaed to the issue I raised a few days ago. https://github.com/dkarter/bullets.vim/issues/80#issue-631110531

[2020-06-14 09:39] glepnir opened #82 "HI which font do you used in this gif"
@dkarter  HI. What font do you used in this gif . It looks like operator mono lig? but it has bold? can you share this font. thanks.
![renumber](https://user-images.githubusercontent.com/41671631/84590056-d2d00700-ae65-11ea-9c7a-2dbb31c0bb50.gif)

[2020-06-14 10:55] ayyess opened #83 "Checkboxes only work on + and - bullets"
[code]
Toggling the parent checkbox only toggles the currently checked boxes. GFM is also able to handle star bullets and numbered lists.

- [X] foo
	* [X] foo
		a. [ ] foo
		b. [ ] foo
		- [X] foo
	+ [ ] foo
	- [X] foo
		1. [ ] foo
		2. [ ] foo
		3. [ ] foo
		- [X] foo
	- [X] foo
		i. [ ] foo
		ii. [ ] foo
		iii. [ ] foo
		- [X] foo

[2020-06-16 10:43] #82 closed

[2020-06-20 15:04] inventionate opened #84 "Markdown code block problems"
When I insert a block of code into Markdown (e. g. R) and set the wraps as follows, the code is interpreted as a list:

[code]

A 'CR' after the last bracket leads to a new line, in which 'i)` is automatically inserted. Is there a way to enable bullets.vim only outside of markdown codeblocks or at least for special characters (e.g. )).?

Anyway, thanks for the great plugin!

[2020-07-08 17:38] keiohtani commented on #25
I am having the same issue. The issue is that both Coc and Bullets.vim use `<CR>` in insert mode.
[code]

As @FocusedWolf commented, I can see a pumvisible check like `call s:add_local_mapping('inoremap', '<cr>', 'pumvisible() ? "<cr>" : "<C-]><C-R>=<SID>insert_new_bullet()<cr>"')` to work , though I could not get this exact code to work.

Changing this behavior completely may not be preferred for

[2020-07-29 20:13] astier opened #85 "breaks completion if completeopt=noinsert"
#### Minimal vimrc

[code]

#### Steps to reproduce

1. Start `nvim`
2. Start insertmode and type `/`
3. `<c-x><c-f>` should show a menu with suggested completions like `/bin` and `/etc`
5. Press `<cr>` to accept first suggestion

#### Actual behavior

A new line is created instead accepting the first suggestion. This only happens when `bullets` is loaded.

#### Expected behavior

The first sugges

[2020-07-29 20:16] astier commented on #85
I would suggest that bullets should not modify `<cr>` if `pumvisible` is true.

[2020-07-29 21:19] dkarter commented on #85
Thanks @astier, I'm happy to take PRs!

[2020-07-30 02:01] MyriaCore opened #86 "Indent on <S-R>"
When in insert mode, if the user types `<S-R>`, they likely still want to stay on the same indentation-depth as the text. So, it'd be ideal to indent to the width of the current node on `<S-R>`.

This would make the creation of multi-line bullet (or cleanly formatted bullet points) easier:
[code]

[2020-08-28 00:49] areographe opened #87 "Using hyphen/dash and indenting with ctrl-t makes subsequent bullets asterisks"
Hi, just adapting to the change from LibreOffice to vim for note-taking while I'm studying, and I noticed that if I start a list with hyphen characters, and then use ctrl-t to indent an item at the next sub-level, it changes to an asterisk, and any subsequent indents continue to use asterisks. The expected result of:

[code]

doesn't happen, and instead I get

[code]

Is there a config option I'm

[2020-08-28 01:52] dkarter commented on #87
You can set `let g:bullets_outline_levels=[]` in your vimrc to disable this.

If you want to add more clarity to the docs I'm happy to accept a PR :)

[2020-08-28 01:52] #87 closed

[2020-10-27 14:11] Hund opened #88 "[Request] Support for bullet todo-lists"
I found this addon just recently and I really like it! I have one issue though. When I enter a new line in a todo-list it adds `- [ ]`, even thouhg my list uses `* [ ]`.

It would be nice if it could understand that I want a `*` and not a `-`. I only use dashed for secondary lists myself:

[code]

Thanks!

[2021-01-19 17:33] garymh opened #89 "Feature Request - Visual mode checkbox toggle?"
Is it possible to have a visual mode version of the checkbox toggle mapping? I often have markdown checklists I want to quickly complete and I'd love to be able to `:ToggleCheckbox` over a range.

[2021-01-31 19:02] Melkster opened #90 "Make commands repeatable"
Basically no mapping in `:h bullets-mappings` is repeatable with `.`, which in my opinion is a core Vim feature. This could for instance be added using the tpope's [vim-repeat](https://github.com/tpope/vim-repeat) .

[2021-02-26 14:16] Melkster commented on #43
I have the same issue with bullet.vim and [vim-clap](https://github.com/liuchengxu/vim-clap). Pressing `<cr>` to select an item with vim-clap does nothing when bullet.vim is installed. Adding `let g:bullets_set_mappings = 0`, or removing bullets.vim solves the issue, which is why I'm suspecting the `<cr>` mapping.

To reproduce:

1. `.vimrc`:

[code]

2. `:Clap files`
3. Press `<cr>` on any match.

[2021-03-13 18:26] Melkster opened #94 "[Bug] Recursive macro doesn't work with bullets.vim loaded"
This recursive macro didn't work and after some investigation I found out that removing bullets.vim solves the issue. I have no clue why, but here's how to reproduce it:

1. Use the following `.vimrc`/`init.vim`:

[code]

2. Create a new file that contains the following line:

[code]

3. Execute the following commands on that line, which creates a recursive macro in register `q`: `_qqqqqf,a<CR><Es

[2021-03-28 23:31] Frederick888 opened #95 "[Feature Request] Option to pad the whole list"
For example, instead of

[code]

...allow users to have

[code]

I understand this doesn't make a difference in Markdown (doesn't hurt either tho), but it looks nice in code blocks and plain text files.

[2021-04-22 02:08] c02y commented on #57
Hello, how can I disable `<ledaer>x`? Since I got several other keybindings like `<leader>xa` and `<leader>xd`, `<leader>x` is just a prefix, `<leader>x` in bullets.vim make them unaccessible, I would like to rebind `:ToggleCheckbox` to another mapping like `<leader>xx`.

[2021-04-22 09:27] Melkster commented on #57
@c02y I don't know how to disable `<leader>x`, but if you just add `nnoremap <leader>xx :ToggleCheckbox<CR>` it should not conflict with your other bindings.

[2021-04-22 10:15] c02y commented on #57
Yeah, sorry about that, since the binding of `<leader>x` is still listed in my `which-key` and it is still working, I thought the sub-keybindings under `<leader>x` are not working anymore, actually they are all working.

[2021-04-29 11:01] tbsmn commented on #79
I have the same problem here.

[2021-05-01 22:14] ElectrifyPro opened #96 "Performance hit in completing numbered list"
I have a .txt file that has a section in the middle with this format (the list is 30-ish entries long):
[code]
When I place my cursor on the line `12. Title 12` and press `o`, there is a ~1 second pause before the next `13.` line is added. However, when I remove all the lines with `• example` and repeat the two above steps, there is no pause. I found that the more `• example` lines that I add in b

[2021-05-02 15:15] mstojanovic opened #99 "[Feature Request] colorize different indentation lines"
it would be great if different indentation bullets had a different color so its easier to follow what is going on.
also, highlighting/bold date formats would be great

both requests are available in vim-journal, and this would def make me switch completely to this plugin since it has the features i want for easily creating and navigating through different lists

[2021-05-02 17:12] mstojanovic opened #100 "[Bug] checkbox markers not set correctly"
by my understanding of the doc:
 let g:bullets_checkbox_markers = ' .:oOX'
should work: 0% ' ', <0%-25%> '.', [25%-50%> ':', [50%-75%> 'o', [75%-100%> 'O', 100% 'X'

on a list with 6 subitems the top level gets marked with a 'X' after 5 are checked in the sublist

[2021-05-02 21:40] mstojanovic commented on #100
created pull request #101

[2021-05-06 17:29] mstojanovic opened #105 "travis CI fails on download of components"
[code]
maybe someone should take a look at it

[2021-05-06 18:36] dkarter commented on #105
Yea I was looking into this yesterday.. Seems like I might need to change the travis config to use the latest mac os, v10.15. Either that or find a way to lock the macvim dependency to a previous version. I don't have a lot of time on my hands these days so any help would be appreciated and I believe anyone should be able to edit the travis.yml file on a new PR to try and fix it.

Thanks for calli

[2021-05-06 18:47] mstojanovic commented on #105
unfortunately i have no idea of how mac versioning works so i cant help too much there. maybe a mac user can, but for me to learn it would take just too much time

[2021-06-08 17:05] harshad1 commented on #96
Could you share a sample file here?

[2021-06-08 17:07] harshad1 commented on #90
From vim-repeat's documentation:

[code]

Do you know if this works?

[2021-06-08 17:14] harshad1 commented on #67
This issue appears to have been fixed. Not sure which change did it.

[2021-06-08 17:15] harshad1 commented on #80
@aodecipher Could you check if this issue still exists? My related issue, #67, appears to have been resolved

[2021-06-09 01:35] ElectrifyPro commented on #96
Here's the repository that has the example: https://github.com/ElectrifyPro/cautious-spoon

There's two files, `culprit.txt` contains the problem that I showed above. If you put your cursor on any numbered line and press `o`, there is a delay before the next line is added.

`normal.txt` is `culprit.txt`, but with all the items in between each numbered entry removed. There aren't any problems with

[2021-06-09 16:50] harshad1 commented on #96
Thanks.

Could you check if `let g:bullets_renumber_on_change = 0` improves the performance?

[2021-06-10 03:27] ElectrifyPro commented on #96
Yes, setting that option to 0 does indeed fix the delay.

[2021-06-12 05:42] harshad1 commented on #96
The issue here is that `parse_bullet`
1. Does a _lot_ of work
2. Is called 2x for every element of the list

Having to parse each bullet 2x when walking the list is pretty normal. Improving the performance of parse bullet is what will help here.

[2021-06-14 21:24] Melkster commented on #90
I haven't tried but I've seen other plugins use it and so I assume that it should work for this plugin as well :)

[2021-06-18 04:27] harshad1 commented on #96
I have a PR to help address this here: https://github.com/dkarter/bullets.vim/pull/107

Would you be able to check if it helps your case? You'll likely have to add my clone as an origin and checkout my branch.

[2021-06-18 15:59] ElectrifyPro commented on #96
Unfortunately there still is a delay when I tried your fix on `culprit.txt`. Just to make sure I did it correctly, this is what I put in `vimrc`:
[code]

Also is it necessary for `parse_bullet` to be called 2x for every list item? Would it not work properly if it was only called once?

[2021-06-18 16:34] harshad1 commented on #96
Any improvement though?

Technically, no. But in general you need to walk to the top of the list and then back to the bottom. I am looking at strategies to address this. Reducing the calls to `parse_bullet` would likely yield the greatest performance improvement

[2021-06-19 05:44] ElectrifyPro commented on #96
No, there isn't any noticeable improvement as far as I can tell

[2021-06-20 17:51] mcauley-penney opened #109 "API to check if current line is an applicable bullet"
Howdy all,

In the documentation, I could not find information about any exposed functions to determine if the current line is under the purview of the plugin. I am interested in defining conditional mappings, e.g. if this line is actionable with bullets.vim, tab demotes and backspace promotes but, if the line is not actionable, act normally. This would allow for behavior more akin to Word.

Does

[2021-06-25 15:14] misterbuckley opened #110 "[Feature Request] Add support for O to insert a new bullet item on the line above the cursor"
There is existing functionality for `o` which creates a new bullet item on the line below the cursor and re-numbers all subsequent items. If I want to insert a new bullet item as the first item in the list, I currently have to create it manually and then re-number all the items. It would be nice if hitting O while on the first item of a list would create a new item in the first position and re-num

[2021-07-10 09:18] linduxed commented on #90
Having experimented a bit with the advice given by @harshad1, I did not manage to get it working.

Has anyone else gotten repeating to work?

[2021-08-06 00:40] braham-snyder commented on #99
This seems to work well so far: https://github.com/bmihai/nanootl

[2021-08-10 20:14] hupfdule commented on #109
There are methods like

`s:match_bullet_list_item(input_text)`

that checks whether the given line matches a bullet list item (other such methods exist for the other types of bullet items, like numbered items, checkbox items, etc.). If it returns an empty dictionary, the line does not match the corresponding bullet item type.

It could be used like this:

[code]

However, since these methods are s

[2021-09-01 18:27] harshad1 opened #114 "SelectBullet command doesn't actually exist?"
The `SelectBulletText` and `SelectBullet` commands don't appear to be defined. If they were removed on purpose, the documentation should be updated.

[2021-09-01 19:21] harshad1 opened #115 "[Feature Request] Add support for changing bullet types with a key-combination"
i.e change to or prepend a numbered list, bullet or checkbox.

If no bullet is present, insert the requested bullet type. If another bullet is present, replace it.

[2021-10-12 13:48] ouuan opened #116 "Bullet align doesn't work for `o`"
When I have

[code]

If I press `<cr>` in insert mode at the end of the last line, I'll get `10. ` (only a single space).

But if I press `o` in normal mode at the last line, I'll get <code>10.&nbsp;&nbsp;</code> (two spaces).

[2021-10-17 17:30] aodecipher commented on #80
I have heavily modified the source code, and bypassed the problem by changing how new bullets are generated, so I can't check it with my current settings. Thanks for your reply though.

[2021-10-17 17:30] #80 closed

[2021-11-17 08:34] willthong commented on #78
I have the same problem. Thanks!

[2021-12-16 19:10] mtrajano opened #117 "Bullet type does not update if incrementing/decrementing with insert-mode <C-t>/<C-d>"
Not sure if this is intentional or not but I assume it would work the same as incrementing/decrementing with `<`/`>` in normal mode

To reproduce:
[code]

Create an item under `some list` and increment using `<C-t>` this will not change the bullet type, then switch to normal mode and increment with `>`, you will see that the bullet type changes

[2022-01-04 03:16] nathanbraun commented on #99
@braham-snyder it looks like it requires its own filetype, have you successfully used it with a markdown or another filetype?

[2022-01-07 04:07] JSD10 opened #118 "Numbered Lists not Working"
This plugin is incredible and works very well, but for some reason it has stopped recognizing numbers for me. If I type 1. and hit enter, it no longer makes a 2. for me, and it used to. I'm not sure if this is the plugin or if I just changed something else by accident but it seemed worth a mention.

[2022-01-10 03:18] #109 closed

[2022-01-19 21:47] braham-snyder commented on #99
No idea if it was the right way (good chance it wasn't), but I had `set filetype+=.nanootl` to make it work with text files. Was using it daily.

But from brief testing I like https://github.com/lervag/vim-rainbow-lists better so far (thanks for contributing to it) since it lets you add deeper coloring levels (without modifying the plugin itself).

[2022-01-20 07:55] BirgerNi opened #119 "Auto Indent List after Colon"
It would be great to have an option to auto indent a list after a colon. Something like `g:bullets_auto_indent_after_colon`.

The value may set to `0` as default so you don't break any workflows:

[code]

... and switched to `1` to enable auto indentation:

[code]

[2022-01-26 14:29] willchao612 opened #120 "Still that wrap indent problem"
[I have same problem as this issue.](https://github.com/dkarter/bullets.vim/issues/11#issue-231698590)

Turns out this plugin has some conflict with [https://github.com/preservim/vim-markdown](https://github.com/preservim/vim-markdown).

[2022-06-16 08:30] RhvdG commented on #118
Same here.

[2022-06-16 11:25] RhvdG opened #124 "Markdown output"
Markdown output (through pandoc) results in very different nested lists.

[2022-09-05 11:22] dkarter opened #126 "Looking for help with Bullets.vim"
Hi everyone,

First, please accept my apologies for not maintaining this plugin more actively. I know there have been some open issues and pull requests going stale and those should definitely have been addressed, but I simply didn't have the time.

When I wrote this plugin about 7 years ago, it was done for a meetup talk about how to write a vim plugin. I had read the book [Learn VimScript The Ha

[2022-09-08 21:00] wenzel-hoffman opened #127 "[Feature Request]: Improve customization of the key mapping"
When setting up the plugin I had to customize a couple of the key maps and that turned out to not be very trivial. I ended up with a relatively big chunk of code that I had to come up with myself (no instructions in the README). See https://github.com/unclechu/neovimrc/commit/61c92023b59d1bafe684721519827698819d1674

I think it would be nice if key maps customization was easier. You can for instan

[2022-09-08 21:41] wenzel-hoffman commented on #127
Actually, don’t take into account my note about the default values. I realized it’s related to my setup where my plugins settings are applied *before* the plugin code gets evaluated.

[2022-09-08 23:51] wenzel-hoffman commented on #127
I made a merge request to fix the issue: https://github.com/dkarter/bullets.vim/pull/128

[2022-09-10 21:54] #127 closed

[2022-09-10 22:14] dkarter commented on #120
Hello @willchao612, sorry for the late reply on this. Not sure about vim-markdown as I don't use it myself, but maybe there's a way to disable the conflicting functionality in vim-markdown via this flag? https://github.com/preservim/vim-markdown/blob/master/indent/markdown.vim#L11

Alternatively you can disable bullets.vim for markdown files by removing it from the list of enabled file types e.g.

[2022-09-10 22:14] #120 closed

[2022-09-10 22:16] dkarter commented on #124
Hi @RhvdG I don't use pandoc personally, pandoc bullet support was added by members of the community. This will require a more details and step by step reproduction steps.

[2022-09-12 20:21] wenzel-hoffman commented on #57
@BSDxxxx I guess new change for making custom mappings would cover your needs. Look for `g:bullets_custom_mappings` in the README.

[2022-09-14 22:49] dkarter commented on #57
Thanks @wenzel-hoffman ! Closing this for now since the addition of `g:bullets_custom_mappings` along with `let g:bullets_set_mappings = 0` should provide an adequate solution.

[2022-09-14 22:49] #57 closed

[2022-10-08 00:45] kaymmm commented on #119
Addressed in #130

[2022-10-08 15:12] kaymmm commented on #118
Does it work if you add a space after the period and some text before hitting enter?

[2022-10-08 22:02] kaymmm commented on #89
addressed in #131. I used `:'<,'>ToggleCheckboxVisual` or `<leader>x` in visual mode as the ways of calling the new function.

[2022-10-08 22:07] kaymmm commented on #124
Pandoc only supports certain types of lists, while this plugin supports many types of lists not necessarily supported in Pandoc. You will need to use a list format compatible with Pandoc Markdown for it to output correctly. This plugin operates independently of Pandoc.

Can you provide an example of what you are trying to do in case it's a problem with the plugin and not simply an incompatibility?

[2022-10-08 22:14] kaymmm commented on #117
Can you provide more details of what happens and what you expect to happen? I believe I just tested the same thing that you described and the bullet type changes with both `<C-t>` and `>` the same way.

[code]
`Enter`:
[code]
`<C-t>`:
[code]
instead of `<C-t>` typing `>` in normal mode gives the same result:
[code]

[2022-10-08 22:53] #119 closed

[2022-10-10 14:04] #114 closed